<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=DESKTOP-26CIK75\SQLEXPRESS;Initial Catalog=DBMS;Integrated Security=True;TrustServerCertificate=True" />
  </connectionStrings>
  <appSettings>
    <add key="CurrentScenario" value="BookLibrary" />
	  
    <add key="ScenarioConfigPath" value="C:\Users\Bob\Documents\FMI - YEAR 1\Sem 4\DMBS\Lab3\WindowsFormsApp1\WindowsFormsApp1\scenarios.config" />
  </appSettings>
</configuration>
